{% extends 'base.html' %}

{% block title %}
<title>Онлайн магазине</title>
{% endblock %}

{% block body %}
<div class="container">

    <!-- `<button href="/addTovar">Add</button> -->
    <!-- <h1>Товары</h1>
    <h2>Фильтры</h2>
    <h3>Сортировка по:</h3> -->
    <ol>  
        {% for product in products %}  
         <li> {{product.title}} {{product.cost}} </li>
        {% endfor %}
    </ol>
    

    <!-- <script defer src="D:\Magaz\Fruits2.0\tovar.py"></script> -->

</div>
{% endblock %}

